<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<link rel="stylesheet" href="styles.css">

<body>
    <div style="text-align: center">
        <img src ="logo.png" style="display: block; margin: 100px auto 0">

        <h1>
            Log in
        </h1>    

        <div class="form-container">

            <input type="email@domain.com" id="email" placeholder="email@domain.com">
            <input type="password" id="password" placeholder="password">
        </div>




    </div>


</body>
</html>