body {
    background-color: #295168;
    color: white;
    margin: 0;
    padding: 0;
}

a {
    color: white;
}

h1 {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;

}
.form-container{
    display:flex;
    flex-direction: column;


}
.form-container input{
    display: "block";
    margin: 10px auto;  

}
