<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>JUST DID IT</title>
</head>
<body>
        <h1>
            Fit Compass
        </h1>
        <h2 id="exercise_label">Current Exercise: squats</h2>
        <h1 id="rep_count">count = 0:</h1>
        <h1 id="current_state">state</h1>

        <div id="multi_person_warning" style="display: none; color: white; background-color: #ff4444; padding: 15px; border-radius: 8px; margin: 10px; text-align: center; font-weight: bold;">
        Multiple people detected! Please have only one person in frame for accurate counting.
        </div>

    <div>
        <img src="{{ url_for('webcam_feed') }}" width="640" height="480">
    </div>
    
    <button onclick="changeWorkout('squats')">count squats</button>
    <button onclick="changeWorkout('situps')">count situps</button>
    <button onclick="changeWorkout('lunges')">count lunges</button>

    <script>
        const workoutRoutine=[{name: 'squats', target: 2},
                              {name: 'lunges', target: 2},
                            ]
        
        let routineIndex=0;
        let workoutFinished=false
        let isSwitching = false; // ai lock 
        function changeExercise(name) {
            fetch('/switch_exercise', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({ exercise: name })
            }).then(response => response.json())
            .then(data => {
                console.log("Switched to: " + name);
                document.getElementById('exercise_label').innerText = "Current Exercise: " + name;
            });
        }
        function moveToNextExercise(){
            if (isSwitching) return; // Don't run if already switching
                isSwitching = true;
            routineIndex++;
            
            if(routineIndex < workoutRoutine.length){
                const nextExercise = workoutRoutine[routineIndex].name;
                changeExercise(nextExercise);
            }else{
                workoutFinished=true
                window.location.href = "{{ url_for('workoutcomplete') }}";
            }
            setTimeout(() => { isSwitching = false; }, 1000);

        }

        function updateStats() {
            
            fetch('/get_exercise_data')
                .then(response => response.json())
                .then(data => {

                    document.getElementById('rep_count').innerText = data.count;
                    document.getElementById('current_state').innerText = data.state;
                    
                    const goalCount= workoutRoutine[routineIndex].target

                    if(data.count>=goalCount){
                        moveToNextExercise()
                    }


                })
        }
        function canStartExercising(){
            fetch('/get_exercise_data')
                .then(response => response.json())
                .then(data => {

                    const warningBox = document.getElementById('multi_person_warning');
            
                    if (data.multiple_detected === true) {
                        warningBox.style.display = "block";  // Show the red warning
                    } else {
                        warningBox.style.display = "none";   // Hide it when clear
                    }
                })
        }

        setInterval(updateStats, 500);
    </script>
</body>

<!DOCTYPE html>